@import url("https://fonts.googleapis.com/css?family=Open+Sans");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*! Typebase.less v0.1.0 | MIT License */
/* Setup */
html {
  /* Change default typefaces here */
  font-family: serif;
  font-size: 137.5%;
  -webkit-font-smoothing: antialiased; }

/* Copy & Lists */
p {
  line-height: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 0; }

ul,
ol {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem; }

ul li,
ol li {
  line-height: 1.5rem; }

ul ul,
ol ul,
ul ol,
ol ol {
  margin-top: 0;
  margin-bottom: 0; }

blockquote {
  line-height: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem; }

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  /* Change heading typefaces here */
  font-family: sans-serif;
  margin-top: 1.5rem;
  margin-bottom: 0;
  line-height: 1.5rem; }

h1 {
  font-size: 4.242rem;
  line-height: 4.5rem;
  margin-top: 3rem; }

h2 {
  font-size: 2.828rem;
  line-height: 3rem;
  margin-top: 3rem; }

h3 {
  font-size: 1.414rem; }

h4 {
  font-size: 0.707rem; }

h5 {
  font-size: 0.4713333333333333rem; }

h6 {
  font-size: 0.3535rem; }

/* Tables */
table {
  margin-top: 1.5rem;
  border-spacing: 0px;
  border-collapse: collapse; }

table td,
table th {
  padding: 0;
  line-height: 33px; }

/* Code blocks */
code {
  vertical-align: bottom; }

/* Leading paragraph text */
.lead {
  font-size: 1.414rem; }

/* Hug the block above you */
.hug {
  margin-top: 0; }

/* Desktop  ----------- */
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #ffffff;
  font-family: 'Roboto', sans-serif; }
  html .container,
  body .container {
    padding: 3rem;
    display: flex;
    flex-direction: row; }
    html .container h1,
    html .container ul,
    body .container h1,
    body .container ul {
      margin-top: 0; }
    html .container .picture,
    body .container .picture {
      flex: 3; }
    html .container .about,
    body .container .about {
      flex: 8; }
  html .picture .picture-wrapper,
  body .picture .picture-wrapper {
    width: 12rem; }
    html .picture .picture-wrapper img,
    body .picture .picture-wrapper img {
      border-radius: 50%;
      width: 100%; }
  html .picture .contact,
  body .picture .contact {
    margin-top: 2rem;
    padding-left: 2rem; }
    html .picture .contact a,
    body .picture .contact a {
      text-decoration: none;
      color: #0e0b16;
      font-weight: 600;
      font-size: 3rem; }
  html .about,
  body .about {
    color: #0e0b16; }
    html .about ul li,
    body .about ul li {
      clear: both; }
    html .about li.item,
    body .about li.item {
      margin-bottom: 1rem;
      display: block; }
    html .about .prefix,
    body .about .prefix {
      margin-right: 2rem;
      width: 3rem; }
      html .about .prefix h1,
      html .about .prefix h2,
      html .about .prefix h3,
      html .about .prefix h4,
      body .about .prefix h1,
      body .about .prefix h2,
      body .about .prefix h3,
      body .about .prefix h4 {
        text-align: center;
        margin-top: 1rem; }
      html .about .prefix h1,
      body .about .prefix h1 {
        border-bottom: 0.5rem solid #0e0b16;
        padding-bottom: 0rem; }
      html .about .prefix h2,
      body .about .prefix h2 {
        font-weight: 500;
        padding-bottom: 0.1rem;
        border-bottom: 0.4rem solid #0e0b16;
        font-size: 2.5rem; }
      html .about .prefix h3,
      body .about .prefix h3 {
        font-weight: 500;
        padding-bottom: 0.7rem;
        border-bottom: 0.3rem solid #0e0b16;
        font-size: 2rem; }
      html .about .prefix h4,
      body .about .prefix h4 {
        font-weight: 500;
        padding-bottom: 0.5rem;
        border-bottom: 0.2rem solid #0e0b16;
        font-size: 1.8rem; }
    html .about .content h1,
    html .about .content h2,
    html .about .content h3,
    html .about .content h4,
    body .about .content h1,
    body .about .content h2,
    body .about .content h3,
    body .about .content h4 {
      text-align: left;
      margin-top: 1rem;
      margin-bottom: 1.5rem; }
    html .about h1,
    body .about h1 {
      text-align: left;
      font-size: 3rem;
      font-weight: 600; }
    html .about h2,
    body .about h2 {
      text-align: left;
      font-size: 2.5rem;
      font-weight: 500; }
    html .about h3,
    body .about h3 {
      text-align: left;
      font-size: 2rem;
      font-weight: 500; }
    html .about h4,
    body .about h4 {
      text-align: left;
      font-size: 1.8rem;
      font-weight: 500; }
    html .about p,
    body .about p {
      margin-top: 0; }
      html .about p a,
      html .about p b,
      body .about p a,
      body .about p b {
        font-weight: bold; }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

.clearfix {
  clear: both; }

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  html .container,
  body .container {
    flex-direction: column;
    padding: 1rem; }
    html .container .picture .picture-wrapper,
    body .container .picture .picture-wrapper {
      margin: 0 auto; }
    html .container .picture .contact,
    body .container .picture .contact {
      text-align: center;
      padding-left: 0; }
    html .container .about li.item,
    body .container .about li.item {
      margin: 0;
      padding: 0; } }
