@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import 'styles/_reset.scss';
@import 'styles/_variables.scss';
@import 'styles/_typebase.scss';

/* Desktop  ----------- */
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: $hm-white;
  font-family: 'Roboto', sans-serif;

  .container {
    padding: 4rem;
    display: flex;
    flex-direction: row;
    h1,
    ul {
      margin-top: 0;
    }
    .picture {
      flex: 3;
    }
    .about {
      flex: 9;
    }
  }

  .picture-wrapper {
    width: 12rem;
    img {
      border-radius: 50%;
      width: 100%;
    }
  }

  .about {
    color: $hm-black;

    ul li {
      clear: both;
    }

    li.item {
      margin-bottom: 1rem;
      display: block;
      // border-bottom: 5px solid $hm-black;
    }

    .prefix {
      margin-right: 2rem;
      width: 3rem;
      h1,
      h2,
      h3,
      h4 {
        text-align: center;
        margin-top: 1rem;
      }
      // border-bottom: 0.5rem solid $hm-black;
      h1 {
        border-bottom: 0.5rem solid $hm-black;
        padding-bottom: 0rem;
      }
      h2 {
        font-weight: 500;
        padding-bottom: 0.1rem;
        border-bottom: 0.4rem solid $hm-black;
        font-size: 2.5rem;
      }
      h3 {
        font-weight: 500;
        padding-bottom: 0.7rem;
        border-bottom: 0.3rem solid $hm-black;
        font-size: 2rem;
      }
      h4 {
        font-weight: 500;
        padding-bottom: 0.5rem;
        border-bottom: 0.2rem solid $hm-black;
        font-size: 1.8rem;
      }
    }

    .content {
      h1,
      h2,
      h3,
      h4 {
        text-align: left;
        margin-top: 1rem;
        margin-bottom: 1.5rem;
      }
    }

    h1 {
      text-align: left;
      font-size: 3rem;
      font-weight: 600;
    }
    h2 {
      text-align: left;
      font-size: 2.5rem;
      font-weight: 500;
    }
    h3 {
      text-align: left;
      font-size: 2rem;
      font-weight: 500;
    }
    h4 {
      text-align: left;
      font-size: 1.8rem;
      font-weight: 500;
    }
    p {
      margin-top: 0;
      a,
      b {
        font-weight: bold;
      }
    }
  }
}

.pull-left {
  float: left;
}
.pull-right {
  float: right;
}

.clearfix {
  clear: both;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  html,
  body {
    .container {
      flex-direction: column;
      padding: 1rem;

      .picture {
        .picture-wrapper {
          margin: 0 auto;
        }
      }
      .about {
        li.item {
          margin: 0;
          padding: 0;
        }
      }
    }
  }
}
