@import 'styles/_reset.scss';
@import 'styles/_variables.scss';
@import 'styles/_typebase.scss';
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/* Desktop  ----------- */
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  background: $hm-black;
  font-family: 'Roboto', sans-serif;

  .container {
    display: flex;
    height: 100vh;
    flex-direction: row;
    .picture {
      flex: 4;
    }
    .about {
      flex: 6;
    }
  }

  .picture {
    background: url('/images/hamed.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 4rem;
  }

  .about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: $hm-grey-text;
    padding: 4rem;
    h1 {
      text-align: center;
      font-size: 3rem;
      font-weight: 600;
    }
    p {
      a,
      b {
        color: $hm-purple;
        text-decoration: none;
      }
    }
    p.links {
      margin-top: 3rem;
      font-size: 3rem;
    }
  }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  html,
  body {
    .container {
      display: flex;
      height: auto;
      width: 100%;
      overflow: hidden;
      flex-direction: column;
      .picture {
        height: 17rem;
        padding: 0;
        margin: 0;
      }
      .about {
        padding: 0rem;
        margin: 0rem;
        font-size: 1rem;
        h1 {
          font-size: 2rem;
          padding: 0.4rem;
          margin: 0.2rem 0rem;
          line-height: 2.5rem;
        }
        p {
          text-align: center;
          padding: 0.5rem;
          line-height: 1.2rem;
        }
      }
    }
  }
}
